@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(40, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.friend-text {
  @apply text-friend font-medium;
}

.boss-text {
  @apply text-boss font-bold;
}

.date-text {
  @apply text-date font-normal;
}

.ai-text {
  @apply text-ai font-medium;
}
